<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>booklist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    
<div class="jumbotron">
    <!-- Hello World -->
    <h1 class="text-center" style=" text-decoration: double ; color: rgb(59, 0, 94);"><b>BOOKS WE SHOULD READ</b></h1>
    <h4 class="text-center" style=" text-decoration: double ; color: rgb(0, 66, 28);">I listed some awesome books gathered from my facebook friends. I hope it'll help you too. Feel free to share this.
    </h4>
    <hr>
    <div class="text-center">
        <a href="https://www.facebook.com/ahnaf.shahriar.7121/posts/212510796428522" target="_blank"><button class="btn btn-info">Original Post</button></a>
    </div>
    
</div>


<div class="container" style="font-size: 20px; text-decoration: none;">
    {{content}}
</div>







<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>